<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="rolling"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="../logs/minfo.log" />
		<param name="datePattern" value="'.'yyyy-MM" />
		<param name="append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d [%t] %-5p (%F:%L) - %m%n" />
		</layout>
	</appender>


	<appender name="HIBERNATE"
		class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="../logs/hibernate.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="300MB" />
		<param name="MaxBackupIndex" value="5" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{yyyy-MM-dd HH:mm:ss.SSS}]%-5p[%t][%c{1}] %m%n" />
		</layout>
	</appender>

	<root>
		<level value="debug" />
		<appender-ref ref="rolling" />
	</root>

	<logger name="org.hibernate" additivity="true">
		<level value="INFO" />
		<appender-ref ref="HIBERNATE" />
	</logger>

</log4j:configuration>